@charset "utf-8";

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
img {
    -webkit-touch-callout: none;
    border: 0;
}

blockquote,
body,
dd,
dl,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
ol,
p,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

li {
    list-style: none;
}

table,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

button:focus,
input:focus,
textarea:focus {
    outline: 0;
}

a,
a:hover {
    text-decoration: none
}

button,
input,
select,
textarea {
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: 100%;
}

body {
    font: 400 .12rem/1.5 -apple-system, sans-serif;
}

body,
html {
    overflow-x: hidden;
}

/* 清除浮动 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 禁止用户长按和选中 */
.no_select {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.wrap {
    position: relative;
    margin: 0 auto;
}
